<div class="footer shadow-u p-16 bg-white">
    <ul class="ul" style="display: flex;justify-content: space-around;">
        <li>
            <div class="col" [ngClass]="activeItem=='home' ? 'color-primary-1' : ''" (click)="navigate('home')">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </div>
        </li>
        <li>
            <div class="col" [ngClass]="activeItem=='events' ? 'color-primary-1' : ''" (click)="navigate('events')">
                <mat-icon>event_available
                </mat-icon>
                <span>Events</span>
            </div>
        </li>
        <li>
            <div class="col" [ngClass]="activeItem=='news' ? 'color-primary-1' : ''" (click)="navigate('news')">
                <mat-icon>feed</mat-icon>
                <span>News</span>
            </div>
        </li>
        <li>
            <div class="col" [ngClass]="activeItem=='academies' ? 'color-primary-1' : ''" (click)="navigate('academies')">
                <mat-icon>location_on</mat-icon>
                <span>Academy</span>
            </div>
        </li>
    </ul>
</div>