<div class="login-page bg-white">
    <div class="login-page">
        <div class="mobile-login">
            <div class="f-w-500 f-20"> Log in or Sign up</div>
            <div class="input-box d-flex b-r-10">
                <div class="country-code-input b-r-10 d-flex jcc aic  ">
                    +91
                </div>
                <input id="mobile" type="text" class="w-100 b-r-10" max='10' placeholder="Enter your Mobile Number" />
            </div>

            <div class="m-b-16 t-gray-1 f-w-500">Get OTP via :</div>
            <div class="otp-options d-flex">
                <div class="whatsapp m-r-8  w-50 p-16 d-flex jcc aic outlined-button button center">
                    Whatsapp
                </div>
                <div class="sms w-50 m-l-8 p-16 d-flex jcc aic solid-button button center">
                    SMS
                </div>
            </div>

            <div class="note f-12 f-w-400 m-t-16">
                By continuing, you agree to our <span style="cursor: pointer;" (click)="navigatePP()">Terms of Service and privacy policy</span>
            </div>

            <div class="skip-now t-gray-1 f-w-500" (click)="skipLogin()">Skip Now</div>
        </div>

        <!-- <div class="social-login t-gray-1">
            <div class="divider w-100 d-flex jcc aic">
                <div class="divider-text f-14">Or Continue with</div>
                <div class="border-line w-100"></div>
            </div>

            <div class="social-login-methods">
                <div class="Google">
                    <div class="icon-wrapper">
                        <img src='googleIcon' alt="" class="icon" />
                    </div>
                    <div class="icon-text">Google</div>
                </div>
                <div class="Facebook">
                    <div class="icon-wrapper">
                        <img src='fbIcon' alt="" class="icon" />
                    </div>
                    <div class="icon-text">FaceBook</div>
                </div>
                <div class="mail">
                    <div class="icon-wrapper">
                        <img src='mailIcon' alt="" class="icon" />
                    </div>
                    <div class="icon-text">Mail</div>
                </div>
            </div>
        </div> -->
    </div>
</div>