<div class="select-sport-screen">
    <div class="header f-16 f-w-600">Select Your favourite Sports</div>
    <div class="search-sport-input-box w-100 d-flex  aic">
      <input
        type="text"
        name="search"
        placeholder="Search for multiple Sports"
      />
      <div class="search-icon">
        <img src='searchIcon' class="d-flex" alt="" />
      </div>
    </div>

    <div class="sports-container">
      <div class="sport d-flex jcc aic fdr-c">
        <img src='cricketImage' alt="" />

        <div class="sport-name">Cricket</div>
      </div>

      <div class="sport selected d-flex jcc aic fdr-c">
        <img src='golf' alt="" />

        <div class="sport-name">Golf</div>
      </div>
      <div class="sport d-flex jcc aic fdr-c">
        <img src='basketBall' alt="" />

        <div class="sport-name">BasketBall</div>
      </div>
      <div class="sport d-flex jcc aic fdr-c">
        <img src='badmintonImage' alt="" />

        <div class="sport-name">Badminton</div>
      </div>

      <div class="sport d-flex jcc aic fdr-c">
        <img src='baseball' alt="" />

        <div class="sport-name">BaseBall</div>
      </div>
    </div>

    <div class="proceed-button f-16 f-w-600 w-100 d-flex aic jcc">
      Proceed
    </div>
  </div>