.d-flex {
    display: flex;

}

.jcc {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}


.aic {
    align-items: center;
}

.fdr-r {
    flex-direction: row;
}

.fdr-c {
    flex-direction: column;
}