

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;

text-decoration: none;    ;
}

input {
    border: 0px;
}

textarea:focus,
input:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}



/**
 * b - border
 * b-r - border-radius
 * c - cursor
 * d - display
 * f - font
 * f-w - font-weight
 * h - height
 * lh - line-height
 * m - margin
 * p - padding
 * t - text
 * w - width
 * pos - position
 */

/** 
##################################################
##################### DISPLAY ####################
##################################################
*/

.pos-rel {
    position: relative;
}

.pos-fix {
    position: fixed;
}

.d-none-imp {
    display: none !important;
}

.d-ib {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.d-flex-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col-cen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jc-sb {
    display: flex;
    justify-content: space-between;
}

.d-flex-ai-c {
    display: flex;
    align-items: center;
}

.flex-spacer {
    flex-grow: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

/** 
##################################################
################### Height/Width #################
##################################################
*/

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-100-imp {
    width: 100% !important;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

/** 
##################################################
##################### MARGIN #####################
##################################################
*/

.m-0 {
    margin: 0 !important;
}

.m-4 {
    margin: 4px;
}

.m-t-4 {
    margin-top: 4px;
}

.m-r-4 {
    margin-right: 4px;
}

.m-b-4 {
    margin-bottom: 4px;
}

.m-l-4 {
    margin-left: 4px;
}



.m-8 {
    margin: 8px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-l-8 {
    margin-left: 8px;
}

.m-t-12 {
    margin-top: 16px;
}

.m-16 {
    margin: 16px;
}

.m-t-16 {
    margin-top: 16px;
}

.m-r-16 {
    margin-right: 16px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-l-16 {
    margin-left: 16px;
}



.m-32 {
    margin: 32px;
}

.m-t-32 {
    margin-top: 32px;
}

.m-r-32 {
    margin-right: 32px;
}

.m-b-32 {
    margin-bottom: 32px;
}

.m-l-32 {
    margin-left: 32px;
}



/** 
##################################################
##################### PADDING ####################
##################################################
*/

.p-0-imp {
    padding: 0px !important;
}

.p-0 {
    padding: 0px;
}

.p-4 {
    padding: 4px;
}

.p-t-4 {
    padding-top: 4px;
}

.p-r-4 {
    padding-right: 4px;
}

.p-b-4 {
    padding-bottom: 4px;
}

.p-l-4 {
    padding-left: 4px;
}





.p-8 {
    padding: 8px;
}

.p-t-8 {
    padding-top: 8px;
}

.p-r-8 {
    padding-right: 8px;
}

.p-b-8 {
    padding-bottom: 8px;
}

.p-l-8 {
    padding-left: 8px;
}



.p-16 {
    padding: 16px;
}

.p-t-16 {
    padding-top: 16px;
}

.p-r-16 {
    padding-right: 16px;
}

.p-b-16 {
    padding-bottom: 16px;
}

.p-l-16 {
    padding-left: 16px;
}



.p-20 {
    padding: 20px;
}

.p-32 {
    padding: 32px;
}

.p-t-32 {
    padding-top: 32px;
}

.p-r-32 {
    padding-right: 32px;
}

.p-b-32 {
    padding-bottom: 32px;
}

.p-l-32 {
    padding-left: 32px;
}


/** 
##################################################
##################### FONTS ######################
##################################################
*/

.f-sf-pro-reg {
    font-family: "SF-Pro-Regular";
}

.f-sf-pro-med {
    font-family: "SF-Pro-medium";
}

.f-sf-pro-bold {
    font-family: "SF-Pro-Bold";
}

.f-sf-pro-semibold {
    font-family: "SF-Pro-SemiBold";
}

.f-10 {
    font-size: 0.625rem;
}

.f-12 {
    font-size: 0.75rem;
}

.f-14 {
    font-size: 0.875rem;
}

.f-16 {
    font-size: 1rem;
}

.f-18 {
    font-size: 1.125rem;
}

.f-20 {
    font-size: 1.25rem;
}

.f-22 {
    font-size: 1.375rem;
}

.f-24 {
    font-size: 1.5rem;
}

.f-26 {
    font-size: 1.625rem;
}

.f-28 {
    font-size: 1.75rem;
}

.f-32 {
    font-size: 2rem;
}

.f-36 {
    font-size: 2.25rem;
}

.f-50 {
    font-size: 3.125rem;
}

.f-42 {
    font-size: 2.625rem;
}

.f-56 {
    font-size: 3.5rem;
}

.f-60 {
    font-size: 3.75rem;
    font-weight: 500;
}

.f-64 {
    font-size: 4rem;
    font-weight: 500;
}

.f-bold {
    font-weight: 500;
}

.f-italic {
    font-style: italic;
}

.f-w-400 {
    font-weight: 400;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-900 {
    font-weight: 900;
}

.lh-14 {
    line-height: 14px;
}

.lh-16 {
    line-height: 16px;
}

.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 20px;
}

.lh-22 {
    line-height: 22px;
}

.lh-24 {
    line-height: 24px;
}

/** 
##################################################
##################### TEXT #######################
##################################################
*/

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-justify {
    text-align: justify;
}

.t-underline {
    text-decoration: underline;
}

.t-strike {
    text-decoration: line-through;
}

.t-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/** 
##################################################
#################### BORDERS #####################
##################################################
*/

.b-none {
    border: none !important;
}

.b-t-24 {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.b-r-0 {
    border-radius: 0px;
}

.b-r-4 {
    border-radius: 4px;
}

.b-r-10 {
    border-radius: 10px;
}

.b-r-100 {
    border-radius: 100%;
}

/** 
##################################################
############### LINKS & BUTTONS ##################
##################################################
*/

.c-pointer {
    cursor: pointer;
}

/** 
##################################################
#################### CUSTOM ######################
##################################################
*/

/** Hide Scrollbar (chrome, safari, opera) */
.scroll-hidden::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}


/** Hide Scrollbar (chrome, safari, opera) */
.scroll-hidden {
    overflow: auto;
    scroll-behavior: smooth;
}

/** Make Dialog Box Scrollable */
.scrollable-dialog-box {
    display: flex !important;
    position: absolute !important;
    z-index: 1000 !important;
    overflow: auto !important;
    pointer-events: auto !important;
    max-height: 80vh !important;
}



/** 
##################################################
###############        DIMENSIONS        ##################
##################################################
*/

.h-100 {
    height: 100%;
}

.h-100-vh {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}


/** 
##################################################
###############        BUTTON        ##################
##################################################
*/


.button {
    border-radius: 12px;
    cursor: pointer;
}

.outlined-button {
    border: 1px solid  #FF4B00;
    color:  #FF4B00;

}

.solid-button {
    background:  #FF4B00;
    color: white;
}

.shadow-d{
    box-shadow: 0px 3px 6px -3px #80808066;
}


.shadow-u{
    box-shadow: 3px 0px 6px -3px #80808066;
}

.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.divider{
    background: #80808017;
    height: 6px;
    width: 100%;
    display: block;
}

.header-spacer{
    height: 70px;
    width: 100%;
}